workflows/Day-2&3/day3-google_sheet_integration.json
{
  "name": "first integration",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -512,
        -96
      ],
      "id": "d7790656-f5f7-4543-bff7-0ddffabbee20",
      "name": "When chat message received",
      "webhookId": "087b922f-6722-4fc4-b414-0b86e9755123"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a portfolio management assistant. The portfolio contains exactly 3 stocks: GOOGL, AAPL, and TSLA.\n\nWhen asked to update prices:\n1. Use 'Get row(s) in sheet in Google Sheets' to get current portfolio data\n2. For each ticker (GOOGL, AAPL, TSLA), use 'Get many EoD data in Marketstack' to fetch the latest closing price\n3. Use 'Update row in sheet in Google Sheets' to update each row with the new price\n\nProcess tickers one at a time. Match the Ticker column exactly and update only the Price column."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        -96
      ],
      "id": "04e5ab43-db49-45f7-859c-ba659e129754",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        288
      ],
      "id": "5ba5f881-591c-48d2-8b5e-ce8107357bc7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1r5RIe0R4Tx7KqLVXk3m4D_nXfIBqzlLN5erRPiibbdk",
          "mode": "list",
          "cachedResultName": "Portfolio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r5RIe0R4Tx7KqLVXk3m4D_nXfIBqzlLN5erRPiibbdk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r5RIe0R4Tx7KqLVXk3m4D_nXfIBqzlLN5erRPiibbdk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        704,
        144
      ],
      "id": "9d5782a0-2153-4275-a522-f0b9c3838418",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UQhNi2LoTCe0CvLr",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "symbols": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ticker', ``, 'string') }}",
        "filters": {
          "latest": true
        }
      },
      "type": "n8n-nodes-base.marketstackTool",
      "typeVersion": 1,
      "position": [
        480,
        272
      ],
      "id": "6f56ec3b-64d2-4ed7-bc80-0d820fc397b6",
      "name": "Get many EoD data in Marketstack",
      "credentials": {
        "marketstackApi": {
          "id": "ovEtt34NY5oFHG16",
          "name": "Marketstack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1r5RIe0R4Tx7KqLVXk3m4D_nXfIBqzlLN5erRPiibbdk",
          "mode": "list",
          "cachedResultName": "Portfolio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r5RIe0R4Tx7KqLVXk3m4D_nXfIBqzlLN5erRPiibbdk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r5RIe0R4Tx7KqLVXk3m4D_nXfIBqzlLN5erRPiibbdk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticker": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ticker__using_to_match_', ``, 'string') }}",
            "Price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Price', ``, 'string') }}"
          },
          "matchingColumns": [
            "Ticker"
          ],
          "schema": [
            {
              "id": "Ticker",
              "displayName": "Ticker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        240,
        272
      ],
      "id": "f2ee9a94-1b91-4769-95b0-affe15c73ee5",
      "name": "Update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UQhNi2LoTCe0CvLr",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -144,
        112
      ],
      "id": "06916306-9140-452e-b26e-1c04b3b5e8cf",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "0srB08fwXmEYSvgN",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many EoD data in Marketstack": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9dc1c180-3586-484e-915c-a12acbd002f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f3b12307b92d3273d1091e5180634d4fefd14377ec0ffb810b2025fef5946a9"
  },
  "id": "nsDZjHPEZ0X8P3gO",
  "tags": []
}